.manga-item-container {
  max-width: 255px;

  .image-container {
    width: 180px;
    height: 255px;
    position: relative;
    overflow: hidden;
    margin: 0;
    display: inline-block;

    img {
      min-width: 100%;
      position: absolute;
    }
  }

  .title-container {
    word-wrap: break-word;
    max-width: 255px;
  }
}
